$headerHeight: 52px;
$headerSmartPhoneMaxWidth: 530px;
$headerTabletMaxWidth: 720px;
$headerLaptopMaxWidth: 900px;
$headerDesktopMaxWidth: 1080px;
$heroWidth: 100%;
$heroHeight: 270px;
$cWhite: #fff;
$cBorder: #ddd;

.header {
  background-color: $cWhite;
  height: $headerHeight;
  transition: background-color 0.3s;
}

.header__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 28px);
  height: 100%;
  max-width: $headerSmartPhoneMaxWidth;
  margin: 0 auto;
}

.header__title {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.header__nav {
  display: none;
}

.header__list {
  list-style: none;
}

.header__item {
  display: inline-block;
  padding: 16px;

  & > a {
    color: $cWhite;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
  }
}

.mobile__button {
  display: flex;
  border: 1px solid $cBorder;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  padding: 9px 12px;
}

.mobile__bar {
  position: relative;
  width: 11px;
  margin-left: 4px;

  & > span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: translate(-50%, -50%);

    &:nth-child(1) {
      top: 20%;
    }
    &:nth-child(3) {
      top: 80%;
    }
  }
}

.mobile__nav {
  position: absolute;
  top: $headerHeight;
  left: 0;
  display: none;
  width: 100%;

  &.show {
    display: block;
  }
}

.mobile__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

.mobile__item {
  background-color: $cWhite;
  width: 100%;

  & > a {
    display: block;
    color: gray;
    text-decoration: none;
    padding: 8px 0 8px 32px;
  }
  &:nth-child(4) {
    padding-bottom: 8px;
  }
}

.main__hero {
  position: absolute;
  top: 0;
  width: $heroWidth;
  height: $heroHeight;
  object-fit: cover;
  filter: grayscale(80%);
  z-index: -1;
}

@media (min-width: 768px) {
  .header__contents {
    max-width: $headerTabletMaxWidth;
  }
}

@media (min-width: 990px) {
  .header {
    background-color: transparent;
  }

  .header__contents {
    max-width: $headerLaptopMaxWidth;
  }

  .header__title {
    color: $cWhite;
  }

  .header__nav {
    display: block;
  }

  .mobile__button {
    display: none;
  }

  .mobile__nav,
  .mobile__nav.show {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header__contents {
    max-width: $headerDesktopMaxWidth;
  }
}
